* {
	box-sizing: border-box;
}

body{
	background: #333;
	color: #fff;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

.left {
	float: left;
}

.right {
	float: right;
	font-family: Arial;
	color: #bababa;
	text-align: center;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.right ul {
	margin: 0;
	padding: 20px 0;
}

.right li {
	list-style-type: none;
	font-size: 20px;
	padding: 5px;
}

.right li a {
	color: #BABABA;
	text-decoration: none;
}

.right li a:hover, .right li a:focus, .right li a:active{
	color: #fff;
	cursor: pointer;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
	[class*="col-"] {width: 100%;}

	.right {border-radius: 10px;}

	.right h2 {font-size: 35px;}

	.right li a {color: #bababa; text-decoration: none; font-size: 30px;}

	.right li a:hover, .right li a:focus, .right li a:active{
		color: #fff;
		cursor: pointer;
		text-decoration: underline;
	}
}