.terminal {
	width: 100%;
}

.terminal input {
	padding: 20px;
	font-size: 25px;
	color: #000;
	border: none;
	background: #D5CDCD;
	float: left;
}

.terminal input[type="text"] {}

.terminal input[type="submit"] {}

.terminal input[type="submit"]:hover {
	background: #000;
	color: #fff;
	cursor: pointer;
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
	.terminal {text-align: center;}

	.terminal input{width: 100%;	text-align: center;}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #000;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #000;
}
:-moz-placeholder { /* Firefox 18- */
	color: #000;
}